<a routerLink="/allsongs" class="btn btn-secondary btn-sm">back</a>
<a routerLink="/main" class="btn btn-secondary btn-sm">home</a>

<div  style="background-color: lightcyan">
        <div class="container" style="width: 85%;margin: 0 auto;">
                <h4 style="color:rgb(46, 15, 15);text-align:center; font-size: -webkit-xxx-large; margin: 0">
                    Chanson
                </h4>
            </div>
            
            <br>
            <div class="container">
                <div class="card">
                    <div class="card-header">
            
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 text-center">
                                <div class="text-center">
                                    <img src="{{song.songImage}}" class="img-responsive" width="350px" height="110%">
                                    <br><br>
            
                                </div>
                            </div>
                            <div class="col-md-6">
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr>
                                            <td>Song Title</td>
                                            <td>{{song.songTitle}}</td>
            
                                        </tr>
                                        <tr>
                                            <td>Artist</td>
                                            <td>{{ song.artistName }}</td>
                                        </tr>
                                        <tr>
                                            <td>Album</td>
                                            <td>{{song.albumName}}</td>
                                        </tr>
                                        <tr>
                                            <td>Region</td>
                                            <td>{{song.region}}</td>
                                            </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            
                <div>
                    <div class="container">
                        <div class="container-audio" style="width:80%; float:left; margin-left:10%">
                            <audio controls loop autoplay src="{{ song.songUrl }}">
                                Your browser dose not Support the audio Tag
                            </audio>
                        </div>
                    </div>
                    <br>
                    <div class="container" style="color:black">
                        <div class="list-group text-center" style="margin-left:57px">
            
                            <div >
                                    <a href="#" class="list-group-item list-group-item-action list-group-item-dark">This is a dark list
                                            group item</a>
                            </div>    
                        </div>
                    </div>
                </div>
</div>